---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "便携式家庭收集器",
    price: "$9.99",
    popular: false,
    features: [
      "重量≤3.5kg，可轻松搬运",
      "一键折叠",
      "续航 4 小时",
      "支持 USB 快充",
      "可拆卸 1.2L 收集箱",
      "适配庭院 / 小型绿地",
    ],
    button: {
      text: "查看详情",
      link: "/",
    },
  },
  {
    name: "市政级智能清扫车",
    price: {
      monthly: "$19.99",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "自动驾驶",
      "集群调度",
      "日处理量≥5 吨",
      "自动适配潮湿 / 干燥落叶",
      "集成高压破碎",
      "适配城市主干道 / 大型绿地",
    ],
    button: {
      text: "查看详情",
      link: "#",
    },
  },
  {
    name: "商用级园区维护机",
    price: "Custom",
    popular: false,
    features: [
      "低噪设计",
      "仿生折叠臂灵活转向",
      "清扫效率 800㎡/ 小时",
      "支持光敏自适应",
      "可自动装卸收集箱",
      "适配物业园区 / 高校",
    ],
    button: {
      text: "查看详情",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">解决方案</Fragment>
      <Fragment slot="desc">
        多场景解决方案，满足不同场景的落叶处理需求
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
