---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "多传感器融合系统",
    description:
      "搭载激光雷达、视觉识别与湿度传感，精准识别落叶分布、湿度状态，动态调整作业策略，确保复杂场景下清扫无死角。",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "全场景适配技术",
    description:
      " 从市政主干道到家庭庭院，设备通过模块化设计切换作业模式，噪音、尺寸、续航等参数动态匹配场景需求。",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "仿生机械结构设计",
    description:
      "模拟自然落叶堆积形态，采用柔性折叠臂 + 自适应碾压轮，高效聚拢潮湿 / 干燥落叶，减少卡顿与残留，适配全类型叶种。 ",
    icon: "bx:bxs-data",
  },
  {
    title: "智能集群调度平台",
    description:
      "支持 10 台设备协同作业，通过 AI 算法优化路径规划，市政场景下单位面积作业成本降低 56%，效率提升 200%。",
    icon: "bx:bxs-bot",
  },
  {
    title: "资源化处理闭环",
    description:
      "集成高压破碎 + 生物降解模块，落叶收集后直接转化为有机肥（转化率≥70%）或生物质燃料，实现 “清洁 - 循环” 价值闭环。",
    icon: "bx:bxs-file-find",
  },
  {
    title: "智慧运维生态",
    description:
      "设备数据实时上云，生成作业效率看板、故障预警报告，支持远程调试与预测性维护，降低 30% 运维成本。",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
     六大核心技术，重构落叶资源化全流程
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    从智能收集到生态循环，以技术创新破解环卫痛点，定义绿色清洁新范式
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
